/* Note: Best site to make gradients: https: //cssgradient.io/*/

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Noto Sans',
  sans-serif;
 width: -webkit-fill-available;
}

body {
 background: black;
 display: list-item;
 text-align: unset;
}


.main-dialog-box {
 width: 90vw;
 margin: auto;
 margin-top: 1rem;
 position: relative;
}

.main-nav {

 height: 3.5rem;
 background-color: rgb(175, 43, 43);
}



#nav-heading {
 font-size: smaller;
 letter-spacing: 0.2em;
 color: aliceblue;
 float: none;
 position: absolute;
 top: 50%;
 transform: translate(45%, -50%);
}

#close-icon {
 width: 1em;
 position: absolute;
 right: 0;
 float: none;
 margin-right: 1rem;
 transform: translate(-50%, 100%);
}

.hero-element {
 position: absolute;
 ;
}

#back-poster {
 height: 40rem;
 background-image: linear-gradient(90deg, rgba(205, 51, 51, 1) 0%, rgba(157, 48, 48, 0.05085784313725494) 84%, rgba(175, 13, 13, 0.1292892156862745) 100%), url("../images/banner.jpg");
 object-fit: contain;
 background-repeat: no-repeat;
 background-size: cover;
 /* background-position-y: -1rem; */

}

#hero-banner {
 /* background-image: url("../images/banner.jpg"), linear-gradient(90deg, rgba(205, 51, 51, 1) 0%, rgba(157, 48, 48, 0.804359243697479) 84%, rgba(23, 23, 23, 0.577468487394958) 100%); */
}

#back-poster img {
 max-width: 100%;
 max-height: 100%;
 object-fit: cover;
}

.front-poster {
 margin: auto;
 padding: 5rem;
 margin-left: 3rem;
 position: absolute;
}

.front-poster img {
 width: 20rem;
}


.text-content {
 color: rgb(250, 250, 250);
 position: absolute;
 display: inline;
}

.text-content h1 {
 padding: 1rem;
 margin-top: 8rem;
 font-size: 3rem;
}

.text-content h6 {
 margin-top: -1rem;
 padding: 1.2rem;
 font-size: 1rem;
}

.text-content #text-content-para {
 margin-top: -1rem;
 padding: 1.2rem;
}

.list {
 margin-top: 4rem;
 max-width: fit-content;
 list-style-type: none;
 display: flex;
 justify-content: space-around;
}

.list #play-btn {
 width: 5rem;
 height: 5rem;
 margin-left: 2rem;
 /* padding: 2rem; */
}

.list #start-text {
 /* margin-left: -2.5rem; */
 font-size: 1rem;
 font-weight: 300;
 width: max-content;
 line-height: 5rem;
 margin-left: 1rem;

}

.list #add-btn {
 width: 3rem;
 height: 3rem;
 margin-left: 2rem;
 margin-top: 1rem;
}

.show-grid {

 height: 20rem;
 background-color: #1e2126;
}